* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

.page-wrapper {
  font-family: "Inter", sans-serif;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 0 26px 53px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.offering {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.calculator__wrapper {
  width: 394px;
  margin: 0 105px 0 0;
}

.container {
  margin: 240px 0 0 450px;
  display: flex;
  justify-content: center;
  max-width: 1440px;
  max-height: 458px;
}

.inputs-block {
  display: flex;
}
.inputs-block__left {
  width: 324px;
  margin: 0 35px 0 0;
}
.inputs-block__input-block {
  margin: 0 0 22px 0;
}
.inputs-block__input-block--first {
  margin: 0 0 9px 0;
}
.inputs-block__offering {
  margin: 0 0 2px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.65);
}
.inputs-block__input {
  padding: 19px 0 20px 24px;
  width: 324px;
  height: 63px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.35);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  transition: border 0.2s ease;
}
.inputs-block__input:hover {
  cursor: text;
  border: 1px solid rgba(0, 0, 0, 0.9);
}
.inputs-block__buttons {
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inputs-block__submit-btn {
  width: 125px;
  height: 35px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.85);
  transition: border 0.2s ease;
}
.inputs-block__submit-btn:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.9);
}
.inputs-block__random-wrapper {
  display: flex;
  justify-content: space-between;
  width: 175px;
  height: 35px;
  transition: all 0.2s ease;
}
.inputs-block__random-input {
  padding: 0 0 0 10px;
  width: 62px;
  height: 35px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}
.inputs-block__random-input:hover {
  border: 1px solid rgba(0, 0, 0, 0.9);
}
.inputs-block__random-confirm {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 35px;
  height: 35px;
  transition: all 0.2s ease;
}
.inputs-block__random-confirm:hover {
  border: 1px solid rgba(0, 0, 0, 0.9);
}
.inputs-block__random-2nd {
  padding: 8px 29px;
  width: 175px;
  height: 35px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}
.inputs-block__random-2nd:hover {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.9);
}
.inputs-block__operators {
  margin: 21px 0 0 0;
  display: flex;
  flex-direction: column;
}
.inputs-block__operator {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 0 24px 0;
  width: 35px;
  height: 35px;
  transition: border 0.2s ease;
  background: #ffffff;
}
.inputs-block__operator:nth-child(2) img {
  padding: 6px 0 0 0;
}
.inputs-block__operator:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.output-block {
  width: 324px;
}
.output-block__offering {
  margin: 0 0 2px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.output-block__output {
  margin: 0 0 22px 0;
  padding: 19px 0 20px 24px;
  width: 324px;
  height: 63px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.35);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.output-block__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.output-block__clear-btn {
  width: 125px;
  height: 35px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
}
.output-block__clear-btn:hover {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  border: 1px solid rgba(219, 27, 27, 0.9);
}
.output-block__move-value-btn {
  padding: 8px 26px;
  width: 175px;
  height: 35px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
}
.output-block__move-value-btn:hover {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.memory {
  width: 236px;
}
.memory__offering {
  margin: 0 0 9px 0;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.65);
}
.memory__offering--hiden {
  display: none;
}
.memory__records {
  height: 309px;
  margin: 0 0 24px 0;
}
.memory__record {
  margin: 0 0 5px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.65);
}
.memory__record:last-child {
  margin: 0;
}
.memory__index {
  margin: 0 6px 0 0;
}
.memory__data {
  display: flex;
}
.memory__delete-btn {
  width: 24px;
  height: 19px;
  background: #ffffff;
  transition: all 0.2s ease;
}
.memory__delete-btn img:hover {
  cursor: pointer;
  content: url("/Calculator-with-memory/src/img/icons/delete_red.svg");
}
.memory__clear-btn {
  margin: 0 0 9px 0;
  padding: 7px 19px 7px 20px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
}
.memory__clear-btn:hover {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  border: 1px solid rgba(219, 27, 27, 0.9);
}
.memory__clear-btn--hiden {
  display: none;
}
.memory__warning {
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.7);
}
.memory__warning--hiden {
  display: none;
}/*# sourceMappingURL=all.css.map */